---
---

$primary-color: white;
$accent-color: #f61067;
$dark-accent: #45062e;
$light-accent: #cecfc7;
$text-color: #252323;
$accent-text-color: white;
$font-stack:  "Lato", sans-serif;

body { background-color: $accent-color; }

a, a:hover, a:visited { color: $light-accent; }

main
{
    color: $accent-text-color;
    text-align: center;
}

nav
{
    position: fixed;
    top:0;
    z-index:1;
}

header > h1 { 
    color: $accent-text-color;
    
    font-size: 25pt;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,0);
}

section { height:100vh }

section > h1 {
    position:relative;
    top:50%;
    transform: translate(0,-50%);
    font-size: 200%;
    font-weight: normal;
    margin-top:-0.5em;
}

section > h1::before {
    color: $accent-text-color;
    font-size: 100pt;
    line-height: 150%;
    display:block;
}

body > footer { display: none; }

section:first-of-type > h1::before { content:'\25c7'; }
section:nth-of-type(2) > h1::before { content:'<>'; }
section:nth-of-type(3) > h1::before { content:'<\028E>'; }