<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>David Gundry &mdash; {{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Keywords" content="">
        <meta name="Description" content="">

        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/assets/style.css">
        {%- if page.additional-style %}
        <link rel="stylesheet" href="/assets/{{ page.additional-style }}">
        {%- endif %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    
        <meta property="og:url"         content="{{ site.url }}{{ page.url }}">
        <meta property="og:type"        content="website">
        <meta property="og:title"       content="David Gundry &mdash; {{ page.title }}">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:image"       content="{{ page.image }}">
    
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@davegundry">
    </head>
    <body>
        <header>
            <h1>David Gundry</h1>
        </header>

        <nav>
            <ul>
            {%- if page.title != "Home" %}
                <li><a href="/">DAVID GUNDRY</a></li>
            {%- else %}
                <li>DAVID GUNDRY</li>
            {%- endif %}
            {%- if page.title != "CV" %}
                <li><a href="/cv/">CV</a></li>
            {%- else %}
                <li style="border-bottom: 1px dashed white">CV</li>
            {%- endif %}
            {%- if page.title != "Research" %}
                <li><a href="/research/">Research</a></li>
            {%- else %}
                <li style="border-bottom: 1px dashed white">Research</li>
            {%- endif %}
            {%- comment %} {%- if page.title != "Games" %}
                <li><a href="/games/">Games</a></li>
            {%- else %}
                <li style="border-bottom: 1px dashed white">Games</li>
            {%- endif %}
            {%- if page.title != "Demos" %}
                <li><a href="/demos/">Demos</a></li>
            {%- else %}
                <li style="border-bottom: 1px dashed white">Demos</li>
            {%- endif %} {%- endcomment %}
            {%- if page.title != "Blog" %}
                <li><a href="/blog/">Blog</a></li>
            {%- else %}
                <li style="border-bottom: 1px dashed white">Blog</li>
            {%- endif %}
            </ul>
            {%- if page.submenu %}
            <nav>
                {{ page.submenu }}
            </nav>
            {%- endif %}
        </nav>

        <main>
            {{ content | indent: 12 }}
        </main>

        <footer>
            <a href="mailto:david@gundry.co.uk">david@gundry.co.uk</a><br />
            
            <a href="https://twitter.com/davegundry">@davegundry</a>
        </footer>

        {%- comment -%} <script type="text/javascript" src="/assets/name.js"></script>{%- endcomment %} 

    </body>
</html>
