<head>
    <title>David Gundry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="">
    <meta name="Description" content="">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta property="og:url"         content="" />
    <meta property="og:type"        content="website" />
    <meta property="og:title"       content="David Gundry">
    <meta property="og:description" content="I am David Gundry, a PhD student at the University of York. I make and research games.">
    <meta property="og:image"       content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@davegundry" />
</head>
